*{
    margin: 0;
    padding: 0;
    /* box-sizing: inherit; */
}
#header{
    background-image: url(./img/pattern-size1.svg);
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: 100%, cover;
    background-color: #4696e5;
    /* padding: 4.5em 0 2.5em 0; */
    height: 100vh;
    min-height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    text-align: right;
    margin: -3.5em 4em 0 0;
}
.header h1{
    font-size: 4.5em;
    margin-bottom: 0.5em;
}
.header a{
    text-decoration: none;
    color: white;
    
}
.header p{
    font-size: 2em;
    line-height: 1.35em;
    color: #d1e5f9;
    margin: 0 0 1.5em 0;
}
.header p a{
    border-bottom: dotted 1px;
}
.header_img{
    width: 17em;
}
.header_img img{
    width: 100%;
}
.header_img::before{
    display: block;
    border: solid 2px rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.25);
    height: 2.5em;
    border-radius: 1em 1em 0 0;
    border-bottom: 0;
    content: '';
}
.header_img::after{
    display: block;
    border: solid 2px rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.25);
    height: 3.5em;
    border-radius: 0 0 1em 1em;
    border-top: 0;
    content: '';
    
}
.header_img_border{
    border-color: rgba(255, 255, 255, 0.25);
    border: solid 2px rgba(255, 255, 255, 0.25);
}
.header_img_border::before{
    background: rgba(255, 255, 255, 0.25);
    top: 15.6em;
    margin-left: -1em;
    width: 2em;
    height: 0.25em;
    border-radius: 0.5em;
    background: rgba(255, 255, 255, 0.25);
    content: '';
    position: absolute;
    left: 62.4%;
}
.header_img_border::after{
    border-color: rgba(255, 255, 255, 0.25);
    border-color: #e6e6e6;
    bottom: 15.2em;
    margin-left: -1em;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.25);
    content: '';
    position: absolute;
    left: 62.4%;
}

.header_button{
    display: flex;
    justify-content: right;
}
.header_button li{
    text-decoration: none;
    list-style: none;
    padding-left: 16px;
}
ul li button{
    border: none;
    box-shadow: none;
    background-color: #ffffff;
    color: #4696e5 !important;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 28px 0 21.6px;
    border-radius: 5px;
    cursor: pointer;
    
}
.button2{
    background-color: transparent;
    color: #ffffff !important;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
}
#one{
    background-color: #fbfbfb;
    color: #999999;
    padding: 6em 0 3.4em 0;
    text-align: center;
    font-size: 25px;
    border-bottom: solid 2px #eeeeee;
}
#one h1{
    margin-bottom: 37.3333333px;
}
#one header::after{
    content: '';
    border-bottom: solid 2px #e6e6e6;
    display: block;
    width: 4em;
    margin: 2em auto 0 auto;
}
.icon{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 43px;
    /* text-align: center; */
}
.icon li{
    padding-right: 53px;
    padding-left: 53px;
    text-align: center;
    font-size: 60px;
}
.two_main{
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
.two_img{
    /* width: 30%; */
    border-radius: 100%;
    margin: 0 3em 0 0;
    /* display: block; */
    box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e6e6e6;
    border-radius: 6px;
    border: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 100%;
    width: 30%;
}
.two_img img{
    display: block;
    border-radius: 100%;
    width: 100%;
}
.two_main_one{
    display: flex;
    width: 1066px;
    height: 300px;
}
#two{
    padding-top: 96px;
}
.two_title{
    width: 70%;
    margin-top: 70px;
    /* left: 50%; */
    height: 176px;   
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.two_title h3{
    color: #828282;
    font-size: 32px;
    margin-bottom: 32px;
}
.two_title p{
    color: #999999;
    line-height: 1.5em;
    font-size: 21px;
    letter-spacing: -0.020em;
}
.two_img2{
    /* width: 30%; */
    border-radius: 100%;
    margin: 0 0 0 3em;
    /* display: block; */
    box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e6e6e6;
    border-radius: 6px;
    border: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 100%;
    width: 30%;
}
.two_img2 img{
    display: block;
    border-radius: 100%;
    width: 100%;
}
.two_title2{
    text-align: right;
    width: 70%;
    margin-top: 70px;
    /* left: 50%; */
    height: 176px;   
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.two_title2 h3{
    color: #828282;
    font-size: 32px;
    margin-bottom: 32px;
}
.two_title2 p{
    color: #999999;
    line-height: 1.5em;
    font-size: 21px;
    letter-spacing: -0.020em;
}
.two_main_two{
    display: flex;
    margin-top: 64px;
    padding-top: 64px;
    border-top: solid 2px #eeeeee;
    width: 1066px;
    height: 300px;
}
.two_img3{
    /* width: 30%; */
    border-radius: 100%;
    margin: 0 3em 0 0;
    /* display: block; */
    box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e6e6e6;
    border-radius: 6px;
    border: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 100%;
    width: 30%;
}
.two_img3 img{
    display: block;
    border-radius: 100%;
    width: 100%;
}
.two_title3{
    /* text-align: right; */
    width: 70%;
    margin-top: 70px;
    /* left: 50%; */
    height: 176px;   
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.two_title3 h3{
    color: #828282;
    font-size: 32px;
    margin-bottom: 32px;
}
.two_title3 p{
    color: #999999;
    line-height: 1.5em;
    font-size: 21px;
    letter-spacing: -0.020em;
}
.two_main_three{
    display: flex;
    margin-top: 64px;
    padding-top: 64px;
    border-top: solid 2px #eeeeee;
    width: 1066px;
    height: 300px;
}